.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;

  border: 2px solid rgba(128, 128, 128, 0.541);
  border-radius: 15px;
  padding: 10px 15px 50px;
}

.container-login form {
  display: flex;
  flex-direction: column;
}

.container-login form input,
.container-login form button {
  margin: 5px 0;
}