.container-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 5px;
  background-color: white;
  color: black;
}

.container-form label {
  display: flex;
  align-items: center;
  margin: 5px 5px 5px 0;
  font-size: 80%;
}

.container-form label > input {
  width: 100%;
}

.container-form label[for=value] {
  width: 10%;
  min-width: 100px;
}

.container-form input,
.container-form select {
  margin-left: 10px;
}

.container-form button {
  text-align: center;
  font-size: 0.7em;
  font-weight: 600;
}

.container-form select,
.container-form input {
  box-sizing: content-box;
  padding: 5px 10px;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  font: normal normal bold 16px/normal "Times New Roman", Times, serif;
  background: rgba(255,255,255,1);
  color: rgba(94,100,102,1);
}

.container-form select:focus,
.container-form input:focus {
  outline: none;
  box-shadow: 0 0 4px 2px rgba(66,46,46,1) inset;
}